<td>{{ product.name }}</td>
<td class="text-right">{{ product.price | currency:'EUR' }}</td>
<td>{{ getPromotionDescription() }}</td>
<td>
    <div class="btn-group " role="group" aria-label="Basic example">
        <button type="button" class="btn btn-danger" (click)="decrement()">
      -
    </button>
        <span class="btn ">{{ currentItems }}</span>
        <button type="button" class="btn btn-success" (click)="increment()">
      +
    </button>
    </div>
</td>
<td class="text-right">{{ currentTotal | currency:'EUR' }}</td>